#copyright.docs-footer.container.grid-lg
  p
    a(href='https://github.com/wsand02/glacialwisp.css' target='_blank') GitHub
    |  · Version 
    span.version
  .columns 
    .column 
      p
        |Originally designed and built with 
        span.text-error &hearts;
        |  by 
        a(href='https://twitter.com/picturepan2' target='_blank') Yan Zhu
        | . Licensed under the 
        a(href='https://github.com/wsand02/glacialwisp.css/blob/master/LICENSE' target='_blank') MIT License
        | .
    .column
      .form-group.float-right#theme-switch-wrapper
        noscript
          Changing color scheme dynamically requires JavaScript.
    